[automationcontroller]
{% for automationcontroller in groups["automationcontroller"] %}
{{ automationcontroller }}
{% endfor %}

[automationcontroller:vars]
peers=execution_nodes

{% if '"execution_nodes" in group_names' %}
[execution_nodes]
{% for execution_nodes in groups["execution_nodes"] %}
{{ execution_nodes }}
{% endfor %}
{% endif %}

{% if '"automationhub" in group_names' %}
[automationhub]
{% for automationhub in groups["automationhub"] %}
{{ automationhub }}
{% endfor %}
{% endif %}

{% if '"database" in group_names' %}
{% for database in groups["database"] %}
[database]
{{ database }}
{% endfor %}
{% endif %}

[all:vars]
admin_password="{{ admin_password }}"

{% if '"database" in group_names' %}
{% for database in groups['database'] %}
pg_host={{ database }}
{% endfor %}
pg_port="{{ pg_port }}"
pg_database="{{ pg_database }}"
pg_username="{{ pg_username }}"
pg_password="{{ pg_password }}"
pg_sslmode="{{ pg_sslmode }}"
{% endif %}

{% if '"automationhub" in group_names' %}
registry_url="{{ private_automation_registry_url }}"
registry_username="{{ private_automation_rhn_username }}"
registry_password="{{ private_automation_rhn_password }}"
{% else %}
registry_url="{{ registry_url }}"
registry_username="{{ rhn_username }}"
registry_password="{{ rhn_password }}"
{% endif %}

receptor_listener_port="{{ receptor_listener_port }}"

{% if '"automationhub" in group_names' %}
automationhub_admin_password="{{ automationhub_admin_password }}"
automationhub_pg_port="{{ pg_port }}"
automationhub_pg_database="{{ automationhub_pg_database }}"
automationhub_pg_username="{{ automationhub_pg_username }}"
automationhub_pg_password="{{ automationhub_pg_password }}"
automationhub_pg_sslmode="{{ automationhub_pg_sslmode }}"
{% for database in groups["database"] %}
automationhub_pg_host="{{ database }}"
{% endfor %}
{% endif %}

{% if custom_ssl == true %}
automationhub_ssl_validate_certs="{{ automationhub_ssl_validate_certs }}"
custom_ca_cert="{{ custom_ca_cert }}"
automationhub_ssl_cert="{{ automationhub_ssl_cert }}"
automationhub_ssl_key="{{ automationhub_ssl_key }}"
web_server_ssl_cert="{{ web_server_ssl_cert }}"
web_server_ssl_key="{{ web_server_ssl_key }}"
postgres_use_ssl="{{ postgres_use_ssl }}"
postgres_ssl_cert="{{ postgres_ssl_cert }}"
postgres_ssl_key="{{ postgres_ssl_key }}"
{% endif %}